.loadfile-container {
	display: block;
	width: 80%;
	margin: 0 auto;
}

.loadfile-content {
	display: block;
	background-color: rgba(47, 173, 215, 0.1);
	border: 2px solid #6ddaff;
	border-radius: 6px;
	padding: 20px 40px;
	min-height: 300px;
	overflow-wrap: break-word;
}

.filecontent-text {
	margin: 20px 10px;
	padding: 0px;
	margin: 10px 0px;
}

.loadfile-container button {
	height: 50px;
	width: 100px;
	margin: 30px;
	color: white;
	background-color: #1cadee;
	border-radius: 2px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	transition: 0.15s;
}

.loadfile-container button:hover {
	background-color: #1479a7;
}

.loadfile-container-footer {
	display: flex;
	justify-content: end;
}

.loadfile-container h1 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: #00376e;
	padding: 0px;
	margin: 0px;
}